@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    font-family :'Poppins', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}
:root{
    --green:#48514f;
    --black:#444;
    --light-color:#777;
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0,0,0,.2);
    --border:.2rem solid var(--green);
}

html{
    font-size: 62.5%;
    overflow-y: scroll;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth; 
} 

section{
    padding: 2rem 9%;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color: var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    background-color: #EFEFEF;

}

.btn span{
    padding: .7rem 1rem;
    border-radius:.5rem ;
    background: var(--green);
    color: #fff;
    margin-left: .5rem;
}

.btn:hover{
    background: #fff;;
    color: #1bc863;
    margin-left: 1rem;
}

 .header{
    padding: 2rem 9%;
    position: fixed;
    top: 0; left:0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
} 

.header .logo {
    font-size: 2.5rem;
    color: var(--black);
}

.header .logo i{
    color: #1bc863;
}

.header .navbar a{
    font-size: 1.5rem;
    color: var(--light-color);
    margin-left: 2rem;
}

.header .navbar a:hover{
    color: #1bc863;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap:wrap ;
    gap: 1.5rem;
    padding-top: 10rem;

}

.home .homeimage {
    flex: 1 1  45rem;

}

.home .homeimage img{
    flex: 1 1 45rem;
    width: 100%;
}

.home .content{
    flex:1 1 45rem ;
}

.home .content h3{
    font-size: 4.5rem ;
    color: var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);

}

.home .content p{
    font-size: 1.5rem ;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;    
}

#menu-btn{
    font-size:  2.6 rem;
    border-radius : .5rem;
    background :#eee;
    color : #1bc863;
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none; 
}











/* css for adjustment different standard size devices */
 @media(max-width :970px){               /*for dekstop */
    html{
        font-size: 54%;
    }
    
    .header{
        padding: 2rem;
    }
}

/* from this size the navbar will come under toggle */
@media(max-width :765px){                   /*for laptop */
    #menu-btn{
        display: initial;
    }
    
    .header .navbar{
        position: absolute;
        top:115%; 
        right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        background: #fff;  
        transform: scale(0);     
        opacity: 0;
        transform-origin: top-right;
        transition: none;
    }

    .header .navbar.active{
        transform: scale(1);
        transition: .1s ease-out;
        opacity: 1;
    } 

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin: 2.5rem;
    }
}



@media(max-width :450px){       /*for mobile */
    html{
        font-size: 50%;
    }
    
}



.about .row{
    padding-top: 10%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
}

.xyz{
    color: red;
}

.aboutHeading {
    font-size: 4.5rem ;
    color: var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
    padding: 0 0 0 60%;   
}

.about .row .content h1{
    font-size: 4.5rem ;
    color: var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
    padding-left: 38%;
}

.about .row .content h3{
    font-size: 3.2rem ;
    color: var(--black);
    line-height: 1.8;
    text-shadow: var(--text-shadow);
}



.about .row .content p{
    color: var(--light-color);
    padding:1rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
}


/* chatbot css starts */




.chatBotContainer{
    height: 420px;
    width: 350px;
    background: white;
    position: fixed;
    bottom: 50px;
    right: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 15px 0px grey;
    border-radius: 15px;
}

.chatBotContainer.collapse{
    height: 60px;
    width: 95px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: none;
    background-color: #08d45d;


}
.chat-header{
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    background-color: #08d45d;
    /* border-radius: 10%;  */
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.chat-header .logo{
    height: 35px;
    width: 35px;
    box-shadow: 0px 0px 10px 0px grey;
}
 
.chat-header img{
    height: 100%;
    width: 100%;
}

.chat-header .title{
    padding-left: 10px;
}

.chat-body{
    height:300px;
    display: flex;
    flex-direction: column;
    padding: 8px 10px;
    align-items: flex-end ;
    overflow-y: auto ;
    position: relative;
    font-size:1.5rem ;

    
}

.chat-input{
    height: 60px;
    display: flex;
    align-items: center;
    border-top:  solid #ccc;

}
.input-section{
    flex : 9;
}


#txtInput{
    line-height: 30px;
    padding: 8px 10px;
    border: none;
    outline: none;
    caret-color: black; 
    font-size: 1.5rem;
    width: 100%;
}

.chat-input i{
    color: rgb(32, 140, 217);
    padding-right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    
}



.chatbot-message,
.user-message{
    padding: 8px 10px;
    margin: 5px;
    width: max-content;
    background: grey;
    border-radius: 10px 3px 10px 10px;  
    font-size:1.5rem ;

}

.user-message{
    transform: translate(10%);
    opacity: 0;
    animation: fade-in-right .3s ease-in-out both;
}

.chatbot-message{
    background: rgb(32, 140, 217);
    align-self: flex-start;
    border-radius: 10px 10px 3px 10px;
    transform: translate(-50%);
    opacity: 0;
    animation: fade-in-left .3s ease-in-out both;
}

.chat-body .loading{
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 2%;
    z-index: 999;
}

.chat-body .loading > .circle{
    height: 10px;
    width: 10px;
    background-color: rgb(32, 140, 217);
    margin: 5px;
    border-radius: 50%;

}

.circle-1{
    animation: load 1s ease-in-out 0ms both infinite;

}

.circle-2{
    animation: load 1s ease-in-out 100ms both infinite;
    
}



@keyframes fade-in-left{
    0%{
        transform: translate(-50%);
        opacity: 0;
    }

    100%{
        transform: translate(0%);
        opacity: 1;
    }
}

@keyframes fade-in-right{
    0%{
        transform: translate(50%);
        opacity: 0;
    }

    100%{
        transform: translate(0%);
        opacity: 1;
    }
}

@keyframes load {
    0% {
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.hide{
    display: none !important;
}


/* chatbot css ends */



/*  four image containers  */ 
.column {
    float:left;
    width: 25%;
    padding: 5px;
    
  }
  
  /* Clear floats after image containers*/
  .row::after {
    content: "";
    clear: both;
    display: table;
 }

  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
   


.row1 {
    padding: 40px 0;
} 

.postdes h3 {
    padding: 70px 0;
    text-align: center;
    font-size: 4.5rem ;
    line-height: 1.8;
    text-shadow: var(--text-shadow);
    color: var(--green);
}

.write{
   /*bottom: 30px;
    right: 45px;
    padding-top: 20px ;
    padding-bottom: 60px;
    right: 35px;
    text-align: center;
    position: relative;*/
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 60px;
    }
/*button{
    background-color: #18f98f;
    border: none;
   position: absolute;
    text-align: center;*/
   /* transform: translate(-50%, -50%);   remain this additional commented
    top: 50%;
    left: 50%;  */
    /*padding: 10px 10px;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button:hover{
   color: white;
   
} */

/*-------------------TESTIMONAL PAGE CSS--------------------------*/

#div1 {
    padding:0 20px;
    padding-left: 25rem;
    float: left;
    
}
#div4 {
    padding:0 20px;
    min-width:450px;
    float : left;
    
}

#div2 {
    padding:0 20px;
    float: left;
    
}

.container{
    display: flex;
    height: 80vh;
    width: 100%;
    align-items: center;
    justify-content: center;
   }
.testimonial{
    position: relative ;
    max-width: 850px;
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
   background-color: rgb(177, 227, 177);
   
}
.testimonial .image{
    height:17%;
    width: 17%;
    object-fit: cover;
    border-radius: 50%;
}
.testimonial .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px ;
}
.slide p{
    text-align: center;
    padding:0 100px ;
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
.slide .quote-icon{
    font-size: 30px;
    color: #4070f4;
}
.slide .details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details .name{
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.details .problem{
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
/* swiper button */
.nav-btn{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transform: translateY(30px);
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}
.nav-btn::hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.nav-btn::after,
.nav-btn::before {
    font-size: 20px;
    color: #fff;

}


.swiper-pagination-bullet{
    background-color: rgba(0, 0, 0, 0.4) ;
}
.swiper-pagination-bullet-active {
    background-color: #4070f4 ;
}
@media screen and (max-width: 768px){
    .slide p{
        padding: 0 20px;
    }
     .nav-btn{
    display: none;
}
}